@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;600;700&display=swap');

:root {
  --main-bg: hsl(217, 54%, 11%);
  --card-bg: hsl(216, 50%, 16%);
  ---line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
  --primary-text: hsl(215, 51%, 70%);
  --secondary-text: hsl(178, 100%, 50%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Outfit', sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: var(--main-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5rem;
}

.img-box {
  position: relative;
}

.card {
  max-width: 34rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  justify-content: center;
  background-color: var(--card-bg);
  padding: 2rem;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.overlay {
  position: absolute;
  background-color: hsla(178, 100%, 50%, 0.603);
  z-index: 1;
  height: 98%;
  width: 100%;
  top: 0;
  opacity: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.img-box img {
  max-width: 100%;
}
.overlay:hover {
  opacity: 100;
}
.card h2 {
  color: var(--white);
  font-size: 2rem;
  text-align: left;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.card h2:hover {
  color: var(--secondary-text);
}

.card {
  color: var(--primary-text);
  font-size: 1.8rem;
}

.product-info {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.price-info {
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
  border-bottom: 1px solid var(---line);
  padding-bottom: 2rem;
}

.price-info img {
  max-width: 100%;
  height: 2rem;
}

.price-info div {
  display: flex;
  column-gap: 1rem;
  align-items: center;
}

.card .eth-text {
  color: var(--secondary-text);
}

.creator-info {
  display: flex;
  column-gap: 1rem;
  align-items: center;
}

.creator-info img {
  width: 3rem;
  border: 1px solid white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.creator-name {
  color: #fff;
  transition: all.5s;
  -webkit-transition: all.5s;
  -moz-transition: all.5s;
  -ms-transition: all.5s;
  -o-transition: all.5s;
}

.creator-name:hover {
  color: var(--secondary-text);
}
